<form class="form-signin">

  <h3 class="form-signin-heading">Forgot your password?</h3>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <%= f.input :email, placeholder: 'enter email here' %>
    
    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %><br />
  <% end %>

</form>
