<p>Hi, (I'm sorry I don't know how to display current_user.name in file /views/home/dashboard.html.erb)  </p> 

<p>Welcome to Achievements Journal. You have successfully registered!</p>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>